/* <style type="text/css"> */
    * {
      margin: 0px;
      padding: 0px;
    }

    #calculator {
      padding: 0px;
      float: center;
      width: 100%;
    }

    #panel {
      padding: 14px;
      width: 100%;
      font-size: 64px;
      border: solid #FFFFFF 0px;
      color: #666666;
    }

    .button-layout {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      background-color: #DCDCDC;
    }

    #calculator-button {
      margin: 8px;
      padding: 14px;
      font-size: 36px;
      width: 20%;
      background-color: transparent;
      border: solid #CACACA 0px;
      color: #3F3F3F;
    }

    #calculator-button.operator {
      background-color:lightgreen;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    #calculator-button:hover {
      background-color: #9D9D9D;
      offset: 0px;
      border-radius: 12px;
    }

    #calculator-button001 {
      padding: 14px;
      font-size: 50px;
      background-color: #6DE91E;
      border: solid #FFFFFF 3px;
      width: 100%;
      color: #FEFEFE;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }

    #calculator-button001:hover {
      background-color: #57BA18;
    }

   
    
  /* </style> */